NAME=Abyss
DESCRIPTION=Bot simples de tickets
TYPE=bot
MAIN=main.py
RAM=100
VERSION=latest
AUTORESTART=false
START=python main.py
AVATAR=https://images-ext-1.discordapp.net/external/dH-UmAFW2lWJxgcziaJctcN_eKmI8WgOul45q3RDdzI/%3Fsize%3D2048/https/cdn.discordapp.com/avatars/1225453809891807356/74713126650aa5dd07fb04addd3f9948.png?format
ID=1747939925480